
.bookrow:hover{
background-color:#efefef;
}
.bookrow{
  margin-top:10px;
  background-color: #fdfdfd;
  padding-top:15px;
  padding-bottom:15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 3px;
}
.bookrow > div > h3{
  margin-top:0px !important;
}
.listimgdiv{
  text-align: center;
  padding-top: 8px;
}

.mainbox{
  background-color:#fefefe;
  padding-top:30px;
  padding-bottom:30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0px;
}
.inputdiv{
  padding-top:10px;
}
.form-control, .btn{
  border:0px!important;
  border-radius: 5px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px !important;
}
.formsubmitbtn{
  width:100%;
  background-color: #333 !important;
  color: white !important;
  height: 37px;
}
.nexttosubmitbtn{
  width:100%;
  background-color: rgb(233, 233, 233) !important;
  
  height: 37px;
}
.center{
  text-align: center !important;
}

.alert {
    padding: 7px;
    border-radius: 0px;
}
.searchformrow{
  padding-top:15px;
  padding-bottom:15px;
}
.searchbookinput{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar-inverse{
      background-color: #006363 !important;
     
}
li>a{
  color:white !important;
}
h3>a, h1,h2,h3,h4,h5{
  color:#006363 !important;
}
.searchformrow{
background-color: #ffffffd9;
}